.player {
  display: grid;
  grid-template-columns:
    var(--w-rank)
    var(--w-avatar)
    var(--w-name)
    var(--w-score)
    var(--w-miss)
    var(--w-acc);

  align-items: center;
  background-color: #6f6f6f;
  padding: var(--padding);
  gap: var(--gap);
  border-radius: 0.25em;
  position: relative;
  overflow: hidden;
}

.name {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.score,
.miss {
  text-align: center;
}

.acc {
  text-align: right;
}

.rank {
  font-weight: bold;
}

.avatar {
  border-radius: 100vh;
  width: 2em;
  height: 2em;
  max-width: 2em;
  max-height: 2em;
}

.first {
  /* zoom: 1.15; */
  font-size: 1.15em;
  background-color: var(--clr-first);
}

.second {
  /* zoom: 1.1; */
  font-size: 1.1em;
  background-color: var(--clr-second);
}

.third {
  /* zoom: 1.05; */
  font-size: 1.05em;
  background-color: var(--clr-third);
}

.flash {
  position: absolute;
  inset: 0;
}

.flashing {
  animation: flash-red 400ms ease;
}

@keyframes flash-red {
  0% {
    background: transparent;
  }
  50% {
    background: rgba(255, 0, 0, 0.3);
  }
  100% {
    background: transparent;
  }
}
