:root {
  --clr-fg: #fff;
  --clr-bg: #6f6f6f;

  --clr-first: #e4a100;
  --clr-second: #afafaf;
  --clr-third: #9e5a21;

  --clr-separator: #5c569e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p {
  overflow-wrap: break-word;
}

body {
  color: var(--clr-fg);
  background: transparent;

  font-family:
    Arial,
    Helvetica,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  /* Player Base Width */
  --w-rank: 2.1em;
  --w-avatar: 2.4em;
  --w-name: 10em;
  --w-score: 4.8em;
  --w-miss: 2.8em;
  --w-acc: 4em;

  --gap: 0em;
  --padding: 0.5em;
}
