.overlay {
  width: 100vw;
  height: 100vh;
}

.players {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  --space: 0.2rem;
  padding: var(--space);
  gap: var(--space);
}

/* Corner styles */

.players {
  /* Default: top-left */
  align-items: flex-start;
  justify-content: flex-start;
}

.top_left {
  align-items: flex-start;
  justify-content: flex-start;
}

.top_right {
  align-items: flex-end;
  justify-content: flex-start;
}

.bottom_left {
  align-items: flex-start;
  justify-content: flex-end;
}

.bottom_right {
  align-items: flex-end;
  justify-content: flex-end;
}

.divider {
  width: 28.75rem;
  height: 2em;
  font-weight: bold;
  background-color: var(--clr-divider);
  padding: 0.2em 0.5em 0.8em 0.5em;
  gap: 0.5em;
  border-radius: 0.25em;
}
